<html>
<head>
    <meta charset="utf-8">
    <meta http-equiv="x-ua-compatible" content="ie=edge">
    <title>Jigsaw documentation</title>
    <meta name="description" content="">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link rel="icon" type="image/x-icon" href="../images/favicon.ico">
    <link rel="stylesheet" href="../styles/style.css">
</head>
<body>
<div class="tab-pane fade active in" id="info"><p class="comment">
    <h3>File</h3>
</p>
<p class="comment">
    <code>src/jigsaw/component/alert/alert.ts</code>
</p>


    <p class="comment">
        <h3>Extends</h3>
    </p>
    <p class="comment">
            <code><a href="../classes/JigsawCommonAlert.html" target="_self" >JigsawCommonAlert</a></code>
    </p>



<section>
    <h3>Metadata</h3>
    <table class="table table-sm table-hover">
        <tbody>












            <tr>
                <td class="col-md-3">selector</td>
                <td class="col-md-9"><code>jigsaw-info-alert</code></td>
            </tr>

            <tr>
                <td class="col-md-3">styleUrls</td>
                <td class="col-md-9"><code>common-alert.scss</code></td>
            </tr>



            <tr>
                <td class="col-md-3">templateUrl</td>
                <td class="col-md-9"><code>common-alert.html</code></td>
            </tr>


        </tbody>
    </table>
</section>





    <section>
        
            <h3 id="inputs">
                Properties
            </h3>
            <table class="table table-sm table-bordered">
                <tbody>
                    <tr>
                        <td class="col-md-4">
                            <b> dialog</b>
                        </td>
                    </tr>
                    <tr>
                        <td class="col-md-4">
                            <code>dialog:     <code><a href="../components/JigsawDialog.html" target="_self" >JigsawDialog</a></code>
    </bcode>
                        </td>
                    </tr>
                        <tr>
                            <td class="col-md-4">
                                <i>Type : </i>    <code><a href="../components/JigsawDialog.html" target="_self" >JigsawDialog</a></code>
    
                            </td>
                        </tr>
                        <tr>
                            <td class="col-md-4">
                                <i>Decorators : </i><code>ViewChild</code>
                            </td>
                        </tr>
                </tbody>
            </table>
            <table class="table table-sm table-bordered">
                <tbody>
                    <tr>
                        <td class="col-md-4">
                            <b><span class="modifier">Public</span> level</b>
                        </td>
                    </tr>
                    <tr>
                        <td class="col-md-4">
                            <span class="modifier-icon fa fa-"></span><code>level:     <code>AlertLevel</code>
    </bcode>
                        </td>
                    </tr>
                        <tr>
                            <td class="col-md-4">
                                <i>Type : </i>    <code>AlertLevel</code>
    
                            </td>
                        </tr>
                </tbody>
            </table>
    </section>
</div>
</body>
</html>