<html>
<head>
    <meta charset="utf-8">
    <meta http-equiv="x-ua-compatible" content="ie=edge">
    <title>Jigsaw documentation</title>
    <meta name="description" content="">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link rel="icon" type="image/x-icon" href="../images/favicon.ico">
    <link rel="stylesheet" href="../styles/style.css">
</head>
<body>
<div class="tab-pane fade active in" id="info"><p class="comment">
    <h3>File</h3>
</p>
<p class="comment">
    <code>src/jigsaw/component/radio/radio.ts</code>
</p>


    <p class="comment">
        <h3>Extends</h3>
    </p>
    <p class="comment">
            <code><a href="../classes/AbstractJigsawComponent.html" target="_self" >AbstractJigsawComponent</a></code>
    </p>

    <p class="comment">
        <h3>Implements</h3>
    </p>
    <p class="comment">
                <code><a href="https://angular.io/docs/ts/latest/api/core/index/OnInit-interface.html" target="_blank" >OnInit</a></code>
                <code><a href="https://angular.io/docs/ts/latest/api/core/index/AfterViewInit-interface.html" target="_blank" >AfterViewInit</a></code>
    </p>


<section>
    <h3>Metadata</h3>
    <table class="table table-sm table-hover">
        <tbody>












            <tr>
                <td class="col-md-3">selector</td>
                <td class="col-md-9"><code>jigsaw-radio-group</code></td>
            </tr>




            <tr>
                <td class="col-md-3">templateUrl</td>
                <td class="col-md-9"><code>radio-group.html</code></td>
            </tr>


        </tbody>
    </table>
</section>

    <section>
        <h3 id="inputs">Inputs</h3>
            <table class="table table-sm table-bordered">
                <tbody>
                    <tr>
                        <td class="col-md-2">
                            <code>data</code>
                        </td>
                        <td class="col-md-10">
                              <p>
                                <em>Type:</em>    <code><a href="../classes/ArrayCollection.html" target="_self" >ArrayCollection&lt;object&gt;</a></code>

                              </p>
                        </td>
                    </tr>
                </tbody>
            </table>
            <table class="table table-sm table-bordered">
                <tbody>
                    <tr>
                        <td class="col-md-2">
                            <code>labelField</code>
                        </td>
                        <td class="col-md-10">
                              <p>
                                <em>Type:</em>    <code>string</code>

                              </p>
                            <p>
                              <em>Default value: </em><code>label</code>
                            </p>
                        </td>
                    </tr>
                </tbody>
            </table>
            <table class="table table-sm table-bordered">
                <tbody>
                    <tr>
                        <td class="col-md-2">
                            <code>trackItemBy</code>
                        </td>
                        <td class="col-md-10">
                        </td>
                    </tr>
                </tbody>
            </table>
            <table class="table table-sm table-bordered">
                <tbody>
                    <tr>
                        <td class="col-md-2">
                            <code>value</code>
                        </td>
                        <td class="col-md-10">
                              <p>
                                <em>Type:</em>    <code>any</code>

                              </p>
                        </td>
                    </tr>
                </tbody>
            </table>
    </section>

    <section>
        <h3 id="outputs">Outputs</h3>
            <table class="table table-sm table-bordered">
                <tbody>
                    <tr>
                        <td class="col-md-2">
                            <code>valueChange</code>
                        </td>
                        <td class="col-md-10">
                            <em><code>$event</code> type:</em>    <code>EventEmitter&lt;any&gt;</code>

                        </td>
                    </tr>
                </tbody>
            </table>
    </section>


    <section>
        
            <h3 id="methods">
                Methods
            </h3>
            <table class="table table-sm table-bordered">
                <tbody>
                    <tr>
                        <td class="col-md-4">
                            <b><span class="modifier">Private</span> _updateSelectedRadio</b>
                        </td>
                    </tr>
                    <tr>
                        <td class="col-md-4">
                                <span class="modifier-icon method fa fa-play lock"></span>
                            <code>_updateSelectedRadio()</code>
                        </td>
                    </tr>
    
    
    
                    <tr>
                        <td class="col-md-4">
    
                                <div class="io-description">
                                    <b>Returns : </b>    <code>void</code>
    
                                </div>
                        </td>
                    </tr>
                </tbody>
            </table>
            <table class="table table-sm table-bordered">
                <tbody>
                    <tr>
                        <td class="col-md-4">
                            <b> ngOnInit</b>
                        </td>
                    </tr>
                    <tr>
                        <td class="col-md-4">
    <code>ngOnInit()</code>
                        </td>
                    </tr>
    
    
    
                    <tr>
                        <td class="col-md-4">
    
                                <div class="io-description">
                                    <b>Returns : </b>    <code>void</code>
    
                                </div>
                        </td>
                    </tr>
                </tbody>
            </table>
            <table class="table table-sm table-bordered">
                <tbody>
                    <tr>
                        <td class="col-md-4">
                            <b> ngAfterViewInit</b>
                        </td>
                    </tr>
                    <tr>
                        <td class="col-md-4">
    <code>ngAfterViewInit()</code>
                        </td>
                    </tr>
    
    
    
                    <tr>
                        <td class="col-md-4">
    
                                <div class="io-description">
                                    <b>Returns : </b>    <code>void</code>
    
                                </div>
                        </td>
                    </tr>
                </tbody>
            </table>
    </section>

    <section>
        
            <h3 id="inputs">
                Properties
            </h3>
            <table class="table table-sm table-bordered">
                <tbody>
                    <tr>
                        <td class="col-md-4">
                            <b><span class="modifier">Private</span> _contentInit</b>
                        </td>
                    </tr>
                    <tr>
                        <td class="col-md-4">
                            <span class="modifier-icon fa fa-lock"></span><code>_contentInit:     <code>boolean</code>
    </bcode>
                        </td>
                    </tr>
                        <tr>
                            <td class="col-md-4">
                                <i>Type : </i>    <code>boolean</code>
    
                            </td>
                        </tr>
                        <tr>
                            <td class="col-md-4">
                                <i>Default value : </i><code>false</code>
                            </td>
                        </tr>
                </tbody>
            </table>
            <table class="table table-sm table-bordered">
                <tbody>
                    <tr>
                        <td class="col-md-4">
                            <b><span class="modifier">Private</span> _radios</b>
                        </td>
                    </tr>
                    <tr>
                        <td class="col-md-4">
                            <span class="modifier-icon fa fa-lock"></span><code>_radios:     <code><a href="../components/JigsawRadioButton.html" target="_self" >QueryList&lt;JigsawRadioButton&gt;</a></code>
    </bcode>
                        </td>
                    </tr>
                        <tr>
                            <td class="col-md-4">
                                <i>Type : </i>    <code><a href="../components/JigsawRadioButton.html" target="_self" >QueryList&lt;JigsawRadioButton&gt;</a></code>
    
                            </td>
                        </tr>
                        <tr>
                            <td class="col-md-4">
                                <i>Decorators : </i><code>ViewChildren</code>
                            </td>
                        </tr>
                </tbody>
            </table>
            <table class="table table-sm table-bordered">
                <tbody>
                    <tr>
                        <td class="col-md-4">
                            <b><span class="modifier">Private</span> _value</b>
                        </td>
                    </tr>
                    <tr>
                        <td class="col-md-4">
                            <span class="modifier-icon fa fa-lock"></span><code>_value:     <code>any</code>
    </bcode>
                        </td>
                    </tr>
                        <tr>
                            <td class="col-md-4">
                                <i>Type : </i>    <code>any</code>
    
                            </td>
                        </tr>
                </tbody>
            </table>
    </section>
</div>
</body>
</html>