<html>
<head>
    <meta charset="utf-8">
    <meta http-equiv="x-ua-compatible" content="ie=edge">
    <title>Jigsaw documentation</title>
    <meta name="description" content="">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link rel="icon" type="image/x-icon" href="../images/favicon.ico">
    <link rel="stylesheet" href="../styles/style.css">
</head>
<body>
<div class="tab-pane fade active in" id="info"><p class="comment">
    <h3>File</h3>
</p>
<p class="comment">
    <code>src/jigsaw/component/tabs/tab-pane.ts</code>
</p>





<section>
    <h3>Metadata</h3>
    <table class="table table-sm table-hover">
        <tbody>












            <tr>
                <td class="col-md-3">selector</td>
                <td class="col-md-9"><code>jigsaw-tab-pane</code></td>
            </tr>



            <tr>
                <td class="col-md-3">template</td>
                <td class="col-md-9"><pre class="line-numbers"><code class="language-html">&lt;ng-template #label&gt;
    {{title}}
    &lt;ng-content select&#x3D;&quot;[jigsaw-title]&quot;&gt;&lt;/ng-content&gt;
&lt;/ng-template&gt;
&lt;ng-template #content&gt;
    &lt;ng-content&gt;&lt;/ng-content&gt;
&lt;/ng-template&gt;

</code></pre></td>
            </tr>



        </tbody>
    </table>
</section>

    <section>
        <h3 id="inputs">Inputs</h3>
            <table class="table table-sm table-bordered">
                <tbody>
                    <tr>
                        <td class="col-md-2">
                            <code>async</code>
                        </td>
                        <td class="col-md-10">
                              <p>
                                <em>Type:</em>    <code>boolean</code>

                              </p>
                        </td>
                    </tr>
                </tbody>
            </table>
            <table class="table table-sm table-bordered">
                <tbody>
                    <tr>
                        <td class="col-md-2">
                            <code>disabled</code>
                        </td>
                        <td class="col-md-10">
                              <p>
                                <em>Type:</em>    <code>boolean</code>

                              </p>
                            <p>
                              <em>Default value: </em><code>false</code>
                            </p>
                        </td>
                    </tr>
                </tbody>
            </table>
            <table class="table table-sm table-bordered">
                <tbody>
                    <tr>
                        <td class="col-md-2">
                            <code>hidden</code>
                        </td>
                        <td class="col-md-10">
                              <p>
                                <em>Type:</em>    <code>boolean</code>

                              </p>
                            <p>
                              <em>Default value: </em><code>false</code>
                            </p>
                        </td>
                    </tr>
                </tbody>
            </table>
            <table class="table table-sm table-bordered">
                <tbody>
                    <tr>
                        <td class="col-md-2">
                            <code>initData</code>
                        </td>
                        <td class="col-md-10">
                              <p>
                                <em>Type:</em>    <code>Object</code>

                              </p>
                        </td>
                    </tr>
                </tbody>
            </table>
            <table class="table table-sm table-bordered">
                <tbody>
                    <tr>
                        <td class="col-md-2">
                            <code>title</code>
                        </td>
                        <td class="col-md-10">
                              <p>
                                <em>Type:</em>    <code>string</code>

                              </p>
                        </td>
                    </tr>
                </tbody>
            </table>
    </section>




    <section>
        
            <h3 id="inputs">
                Properties
            </h3>
            <table class="table table-sm table-bordered">
                <tbody>
                    <tr>
                        <td class="col-md-4">
                            <b> content</b>
                        </td>
                    </tr>
                    <tr>
                        <td class="col-md-4">
                            <code>content:     <code></code>
    </bcode>
                        </td>
                    </tr>
                        <tr>
                            <td class="col-md-4">
                                <i>Decorators : </i><code>ViewChild</code>
                            </td>
                        </tr>
                </tbody>
            </table>
            <table class="table table-sm table-bordered">
                <tbody>
                    <tr>
                        <td class="col-md-4">
                            <b> label</b>
                        </td>
                    </tr>
                    <tr>
                        <td class="col-md-4">
                            <code>label:     <code></code>
    </bcode>
                        </td>
                    </tr>
                        <tr>
                            <td class="col-md-4">
                                <i>Decorators : </i><code>ViewChild</code>
                            </td>
                        </tr>
                </tbody>
            </table>
    </section>
</div>
</body>
</html>