<html>
<head>
    <meta charset="utf-8">
    <meta http-equiv="x-ua-compatible" content="ie=edge">
    <title>Jigsaw documentation</title>
    <meta name="description" content="">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link rel="icon" type="image/x-icon" href="../images/favicon.ico">
    <link rel="stylesheet" href="../styles/style.css">
</head>
<body>
<div class="tab-pane fade active in" id="info"><p class="comment">
    <h3>File</h3>
</p>
<p class="comment">
    <code>src/jigsaw/component/table/table.ts</code>
</p>


    <p class="comment">
        <h3>Extends</h3>
    </p>
    <p class="comment">
            <code><a href="../classes/TableCellBasic.html" target="_self" >TableCellBasic</a></code>
    </p>

    <p class="comment">
        <h3>Implements</h3>
    </p>
    <p class="comment">
                <code><a href="https://angular.io/docs/ts/latest/api/core/index/OnInit-interface.html" target="_blank" >OnInit</a></code>
                <code><a href="https://angular.io/docs/ts/latest/api/core/index/OnDestroy-interface.html" target="_blank" >OnDestroy</a></code>
    </p>


<section>
    <h3>Metadata</h3>
    <table class="table table-sm table-hover">
        <tbody>












            <tr>
                <td class="col-md-3">selector</td>
                <td class="col-md-9"><code>[jigsaw-table-cell]</code></td>
            </tr>



            <tr>
                <td class="col-md-3">template</td>
                <td class="col-md-9"><pre class="line-numbers"><code class="language-html">&lt;ng-template jigsaw-renderer-host&gt;&lt;/ng-template&gt;</code></pre></td>
            </tr>



        </tbody>
    </table>
</section>

    <section>
        <h3 id="inputs">Inputs</h3>
            <table class="table table-sm table-bordered">
                <tbody>
                    <tr>
                        <td class="col-md-2">
                            <code>editable</code>
                        </td>
                        <td class="col-md-10">
                              <p>
                                <em>Type:</em>    <code>boolean</code>

                              </p>
                            <p>
                              <em>Default value: </em><code>false</code>
                            </p>
                        </td>
                    </tr>
                </tbody>
            </table>
            <table class="table table-sm table-bordered">
                <tbody>
                    <tr>
                        <td class="col-md-2">
                            <code>editorRenderer</code>
                        </td>
                        <td class="col-md-10">
                              <p>
                                <em>Type:</em>    <code><a href="../classes/TableCellRenderer.html" target="_self" >Type&lt;TableCellRenderer&gt;</a></code>

                              </p>
                        </td>
                    </tr>
                </tbody>
            </table>
            <table class="table table-sm table-bordered">
                <tbody>
                    <tr>
                        <td class="col-md-2">
                            <code>group</code>
                        </td>
                        <td class="col-md-10">
                              <p>
                                <em>Type:</em>    <code>boolean</code>

                              </p>
                        </td>
                    </tr>
                </tbody>
            </table>
            <table class="table table-sm table-bordered">
                <tbody>
                    <tr>
                        <td class="col-md-2">
                            <code>rowSpan</code>
                        </td>
                        <td class="col-md-10">
                              <p>
                                <em>Type:</em>    <code>number</code>

                              </p>
                        </td>
                    </tr>
                </tbody>
            </table>
    </section>


    <section>
        <h3 id="constructor">Constructor</h3>
            <table class="table table-sm table-bordered">
                <tbody>
                    <tr>
                        <td class="col-md-4">
                            <code>constructor(cfr: <a href="https://angular.io/docs/ts/latest/api/core/index/ComponentFactoryResolver-class.html" target="_blank">ComponentFactoryResolver</a>, cd: <a href="https://angular.io/docs/ts/latest/api/core/index/ChangeDetectorRef-class.html" target="_blank">ChangeDetectorRef</a>, jigsawTable: <a href="../components/JigsawTable.html">JigsawTable</a>, _renderer: <a href="https://angular.io/docs/ts/latest/api/core/index/Renderer2-class.html" target="_blank">Renderer2</a>, _elementRef: <a href="https://angular.io/docs/ts/latest/api/core/index/ElementRef-class.html" target="_blank">ElementRef</a>)</code>
                        </td>
                    </tr>
    
                </tbody>
            </table>
    </section>

    <section>
        
            <h3 id="methods">
                Methods
            </h3>
            <table class="table table-sm table-bordered">
                <tbody>
                    <tr>
                        <td class="col-md-4">
                            <b><span class="modifier">Private</span> _emitDataChange</b>
                        </td>
                    </tr>
                    <tr>
                        <td class="col-md-4">
                                <span class="modifier-icon method fa fa-play lock"></span>
                            <code>_emitDataChange(cellData: )</code>
                        </td>
                    </tr>
    
    
    
                    <tr>
                        <td class="col-md-4">
    
                                <div class="io-description">
                                    <b>Returns : </b>    <code>void</code>
    
                                </div>
                        </td>
                    </tr>
                </tbody>
            </table>
            <table class="table table-sm table-bordered">
                <tbody>
                    <tr>
                        <td class="col-md-4">
                            <b><span class="modifier">Private</span> _cacheRenderer</b>
                        </td>
                    </tr>
                    <tr>
                        <td class="col-md-4">
                                <span class="modifier-icon method fa fa-play lock"></span>
                            <code>_cacheRenderer(renderer: <a href="../classes/TableCellRenderer.html">TableCellRenderer</a>, editorRenderer: <a href="../classes/TableCellRenderer.html">TableCellRenderer</a>)</code>
                        </td>
                    </tr>
    
    
    
                    <tr>
                        <td class="col-md-4">
    
                                <div class="io-description">
                                    <b>Returns : </b>    <code>void</code>
    
                                </div>
                        </td>
                    </tr>
                </tbody>
            </table>
            <table class="table table-sm table-bordered">
                <tbody>
                    <tr>
                        <td class="col-md-4">
                            <b><span class="modifier">Private</span> _rendererSubscribe</b>
                        </td>
                    </tr>
                    <tr>
                        <td class="col-md-4">
                                <span class="modifier-icon method fa fa-play lock"></span>
                            <code>_rendererSubscribe(renderer: <a href="../classes/TableCellRenderer.html">TableCellRenderer</a>)</code>
                        </td>
                    </tr>
    
    
    
                    <tr>
                        <td class="col-md-4">
    
                                <div class="io-description">
                                    <b>Returns : </b>    <code>void</code>
    
                                </div>
                        </td>
                    </tr>
                </tbody>
            </table>
            <table class="table table-sm table-bordered">
                <tbody>
                    <tr>
                        <td class="col-md-4">
                            <b><span class="modifier">Private</span> _editorRendererSubscribe</b>
                        </td>
                    </tr>
                    <tr>
                        <td class="col-md-4">
                                <span class="modifier-icon method fa fa-play lock"></span>
                            <code>_editorRendererSubscribe(renderer: <a href="../classes/TableCellRenderer.html">TableCellRenderer</a>)</code>
                        </td>
                    </tr>
    
    
    
                    <tr>
                        <td class="col-md-4">
    
                                <div class="io-description">
                                    <b>Returns : </b>    <code>void</code>
    
                                </div>
                        </td>
                    </tr>
                </tbody>
            </table>
            <table class="table table-sm table-bordered">
                <tbody>
                    <tr>
                        <td class="col-md-4">
                            <b><span class="modifier">Protected</span> insertRenderer</b>
                        </td>
                    </tr>
                    <tr>
                        <td class="col-md-4">
                                <span class="modifier-icon method fa fa-play circle"></span>
                            <code>insertRenderer()</code>
                        </td>
                    </tr>
    
    
    
                    <tr>
                        <td class="col-md-4">
    
                                <div class="io-description">
                                    <b>Returns : </b>    <code>void</code>
    
                                </div>
                        </td>
                    </tr>
                </tbody>
            </table>
            <table class="table table-sm table-bordered">
                <tbody>
                    <tr>
                        <td class="col-md-4">
                            <b><span class="modifier">Protected</span> insertEditorRenderer</b>
                        </td>
                    </tr>
                    <tr>
                        <td class="col-md-4">
                                <span class="modifier-icon method fa fa-play circle"></span>
                            <code>insertEditorRenderer()</code>
                        </td>
                    </tr>
    
    
    
                    <tr>
                        <td class="col-md-4">
    
                                <div class="io-description">
                                    <b>Returns : </b>    <code>void</code>
    
                                </div>
                        </td>
                    </tr>
                </tbody>
            </table>
            <table class="table table-sm table-bordered">
                <tbody>
                    <tr>
                        <td class="col-md-4">
                            <b><span class="modifier">Private</span> _setGoEditListener</b>
                        </td>
                    </tr>
                    <tr>
                        <td class="col-md-4">
                                <span class="modifier-icon method fa fa-play lock"></span>
                            <code>_setGoEditListener()</code>
                        </td>
                    </tr>
    
    
    
                    <tr>
                        <td class="col-md-4">
    
                                <div class="io-description">
                                    <b>Returns : </b>    <code>void</code>
    
                                </div>
                        </td>
                    </tr>
                </tbody>
            </table>
            <table class="table table-sm table-bordered">
                <tbody>
                    <tr>
                        <td class="col-md-4">
                            <b> ngOnInit</b>
                        </td>
                    </tr>
                    <tr>
                        <td class="col-md-4">
    <code>ngOnInit()</code>
                        </td>
                    </tr>
    
    
    
                    <tr>
                        <td class="col-md-4">
    
                                <div class="io-description">
                                    <b>Returns : </b>    <code>void</code>
    
                                </div>
                        </td>
                    </tr>
                </tbody>
            </table>
            <table class="table table-sm table-bordered">
                <tbody>
                    <tr>
                        <td class="col-md-4">
                            <b> ngOnDestroy</b>
                        </td>
                    </tr>
                    <tr>
                        <td class="col-md-4">
    <code>ngOnDestroy()</code>
                        </td>
                    </tr>
    
    
    
                    <tr>
                        <td class="col-md-4">
    
                                <div class="io-description">
                                    <b>Returns : </b>    <code>void</code>
    
                                </div>
                        </td>
                    </tr>
                </tbody>
            </table>
    </section>

    <section>
        
            <h3 id="inputs">
                Properties
            </h3>
            <table class="table table-sm table-bordered">
                <tbody>
                    <tr>
                        <td class="col-md-4">
                            <b><span class="modifier">Private</span> _goEditCallback</b>
                        </td>
                    </tr>
                    <tr>
                        <td class="col-md-4">
                            <span class="modifier-icon fa fa-lock"></span><code>_goEditCallback:     <code></code>
    </bcode>
                        </td>
                    </tr>
                </tbody>
            </table>
            <table class="table table-sm table-bordered">
                <tbody>
                    <tr>
                        <td class="col-md-4">
                            <b><span class="modifier">Public</span> editorRendererRef</b>
                        </td>
                    </tr>
                    <tr>
                        <td class="col-md-4">
                            <span class="modifier-icon fa fa-"></span><code>editorRendererRef:     <code></code>
    </bcode>
                        </td>
                    </tr>
                </tbody>
            </table>
    </section>
</div>
</body>
</html>