<html>
<head>
    <meta charset="utf-8">
    <meta http-equiv="x-ua-compatible" content="ie=edge">
    <title>Jigsaw documentation</title>
    <meta name="description" content="">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link rel="icon" type="image/x-icon" href="../images/favicon.ico">
    <link rel="stylesheet" href="../styles/style.css">
</head>
<body>
<div class="tab-pane fade active in" id="info"><p class="comment">
    <h3>File</h3>
</p>
<p class="comment">
    <code>build/tools/screenshot-test/src/app/result/result.component.ts</code>
</p>

    <p class="comment">
        <h3>Description</h3>
    </p>
    <p class="comment">
        <p>Component to display test result, test name, test image, reference image, and diff image.
User can change the view mode, or collapse the panel to hide the images.</p>

    </p>




<section>
    <h3>Metadata</h3>
    <table class="table table-sm table-hover">
        <tbody>

            <tr>
                <td class="col-md-3">changeDetection</td>
                <td class="col-md-9"><code>ChangeDetectionStrategy.OnPush</code></td>
            </tr>











            <tr>
                <td class="col-md-3">selector</td>
                <td class="col-md-9"><code>app-result</code></td>
            </tr>

            <tr>
                <td class="col-md-3">styleUrls</td>
                <td class="col-md-9"><code>result.component.css</code></td>
            </tr>



            <tr>
                <td class="col-md-3">templateUrl</td>
                <td class="col-md-9"><code>./result.component.html</code></td>
            </tr>


        </tbody>
    </table>
</section>

    <section>
        <h3 id="inputs">Inputs</h3>
            <table class="table table-sm table-bordered">
                <tbody>
                    <tr>
                        <td class="col-md-2">
                            <code>collapse</code>
                        </td>
                        <td class="col-md-10">
                            <div><p>Collapse: whether collapse or expand the card to show images </p>
</div>
                              <p>
                                <em>Type:</em>    <code>boolean</code>

                              </p>
                            <p>
                              <em>Default value: </em><code>true</code>
                            </p>
                        </td>
                    </tr>
                </tbody>
            </table>
            <table class="table table-sm table-bordered">
                <tbody>
                    <tr>
                        <td class="col-md-2">
                            <code>filename</code>
                        </td>
                        <td class="col-md-10">
                        </td>
                    </tr>
                </tbody>
            </table>
            <table class="table table-sm table-bordered">
                <tbody>
                    <tr>
                        <td class="col-md-2">
                            <code>flipping</code>
                        </td>
                        <td class="col-md-10">
                            <div><p>When mode is &quot;flip&quot; whether we show the test image or the golden image </p>
</div>
                        </td>
                    </tr>
                </tbody>
            </table>
            <table class="table table-sm table-bordered">
                <tbody>
                    <tr>
                        <td class="col-md-2">
                            <code>mode</code>
                        </td>
                        <td class="col-md-10">
                            <div><p>Mode: the result card has three modes, flip, side by side, and diff </p>
</div>
                        </td>
                    </tr>
                </tbody>
            </table>
            <table class="table table-sm table-bordered">
                <tbody>
                    <tr>
                        <td class="col-md-2">
                            <code>result</code>
                        </td>
                        <td class="col-md-10">
                            <div><p>Test result, auto set collapse to be the same as the result value</p>
</div>
                        </td>
                    </tr>
                </tbody>
            </table>
    </section>

    <section>
        <h3 id="outputs">Outputs</h3>
            <table class="table table-sm table-bordered">
                <tbody>
                    <tr>
                        <td class="col-md-2">
                            <code>collapseChange</code>
                        </td>
                        <td class="col-md-10">
                            <em><code>$event</code> type:</em>    <code><a href="https://angular.io/docs/ts/latest/api/core/index/EventEmitter-class.html" target="_blank" >EventEmitter</a></code>

                        </td>
                    </tr>
                </tbody>
            </table>
            <table class="table table-sm table-bordered">
                <tbody>
                    <tr>
                        <td class="col-md-2">
                            <code>flippingChange</code>
                        </td>
                        <td class="col-md-10">
                            <em><code>$event</code> type:</em>    <code><a href="https://angular.io/docs/ts/latest/api/core/index/EventEmitter-class.html" target="_blank" >EventEmitter</a></code>

                        </td>
                    </tr>
                </tbody>
            </table>
            <table class="table table-sm table-bordered">
                <tbody>
                    <tr>
                        <td class="col-md-2">
                            <code>modeChange</code>
                        </td>
                        <td class="col-md-10">
                            <em><code>$event</code> type:</em>    <code><a href="https://angular.io/docs/ts/latest/api/core/index/EventEmitter-class.html" target="_blank" >EventEmitter</a></code>

                        </td>
                    </tr>
                </tbody>
            </table>
    </section>

    <section>
        <h3 id="constructor">Constructor</h3>
            <table class="table table-sm table-bordered">
                <tbody>
                    <tr>
                        <td class="col-md-4">
                            <code>constructor(service: <a href="../injectables/FirebaseService.html">FirebaseService</a>, _changeDetectorRef: <a href="https://angular.io/docs/ts/latest/api/core/index/ChangeDetectorRef-class.html" target="_blank">ChangeDetectorRef</a>)</code>
                        </td>
                    </tr>
    
                </tbody>
            </table>
    </section>

    <section>
        
            <h3 id="methods">
                Methods
            </h3>
            <table class="table table-sm table-bordered">
                <tbody>
                    <tr>
                        <td class="col-md-4">
                            <b> setFilenameAndFetchImages</b>
                        </td>
                    </tr>
                    <tr>
                        <td class="col-md-4">
    <code>setFilenameAndFetchImages()</code>
                        </td>
                    </tr>
    
    
    
                    <tr>
                        <td class="col-md-4">
    
                                <div class="io-description">
                                    <b>Returns : </b>    <code>void</code>
    
                                </div>
                        </td>
                    </tr>
                </tbody>
            </table>
            <table class="table table-sm table-bordered">
                <tbody>
                    <tr>
                        <td class="col-md-4">
                            <b> flip</b>
                        </td>
                    </tr>
                    <tr>
                        <td class="col-md-4">
    <code>flip()</code>
                        </td>
                    </tr>
    
    
    
                    <tr>
                        <td class="col-md-4">
    
                                <div class="io-description">
                                    <b>Returns : </b>    <code>void</code>
    
                                </div>
                        </td>
                    </tr>
                </tbody>
            </table>
            <table class="table table-sm table-bordered">
                <tbody>
                    <tr>
                        <td class="col-md-4">
                            <b> toggleCollapse</b>
                        </td>
                    </tr>
                    <tr>
                        <td class="col-md-4">
    <code>toggleCollapse()</code>
                        </td>
                    </tr>
    
    
    
                    <tr>
                        <td class="col-md-4">
    
                                <div class="io-description">
                                    <b>Returns : </b>    <code>void</code>
    
                                </div>
                        </td>
                    </tr>
                </tbody>
            </table>
    </section>

    <section>
        
            <h3 id="inputs">
                Properties
            </h3>
            <table class="table table-sm table-bordered">
                <tbody>
                    <tr>
                        <td class="col-md-4">
                            <b> _filename</b>
                        </td>
                    </tr>
                    <tr>
                        <td class="col-md-4">
                            <code>_filename:     <code>string</code>
    </bcode>
                        </td>
                    </tr>
                        <tr>
                            <td class="col-md-4">
                                <i>Type : </i>    <code>string</code>
    
                            </td>
                        </tr>
                </tbody>
            </table>
            <table class="table table-sm table-bordered">
                <tbody>
                    <tr>
                        <td class="col-md-4">
                            <b> _flipping</b>
                        </td>
                    </tr>
                    <tr>
                        <td class="col-md-4">
                            <code>_flipping:     <code>boolean</code>
    </bcode>
                        </td>
                    </tr>
                        <tr>
                            <td class="col-md-4">
                                <i>Type : </i>    <code>boolean</code>
    
                            </td>
                        </tr>
                        <tr>
                            <td class="col-md-4">
                                <i>Default value : </i><code>false</code>
                            </td>
                        </tr>
                </tbody>
            </table>
            <table class="table table-sm table-bordered">
                <tbody>
                    <tr>
                        <td class="col-md-4">
                            <b> _mode</b>
                        </td>
                    </tr>
                    <tr>
                        <td class="col-md-4">
                            <code>_mode:     <code></code>
    </bcode>
                        </td>
                    </tr>
                        <tr>
                            <td class="col-md-4">
                                <i>Default value : </i><code>diff</code>
                            </td>
                        </tr>
                </tbody>
            </table>
            <table class="table table-sm table-bordered">
                <tbody>
                    <tr>
                        <td class="col-md-4">
                            <b> _result</b>
                        </td>
                    </tr>
                    <tr>
                        <td class="col-md-4">
                            <code>_result:     <code>boolean</code>
    </bcode>
                        </td>
                    </tr>
                        <tr>
                            <td class="col-md-4">
                                <i>Type : </i>    <code>boolean</code>
    
                            </td>
                        </tr>
                </tbody>
            </table>
            <table class="table table-sm table-bordered">
                <tbody>
                    <tr>
                        <td class="col-md-4">
                            <b> collapseIcon</b>
                        </td>
                    </tr>
                    <tr>
                        <td class="col-md-4">
                            <code>collapseIcon:     <code></code>
    </bcode>
                        </td>
                    </tr>
                </tbody>
            </table>
            <table class="table table-sm table-bordered">
                <tbody>
                    <tr>
                        <td class="col-md-4">
                            <b> diffImageUrl</b>
                        </td>
                    </tr>
                    <tr>
                        <td class="col-md-4">
                            <code>diffImageUrl:     <code>string</code>
    </bcode>
                        </td>
                    </tr>
                        <tr>
                            <td class="col-md-4">
                                <i>Type : </i>    <code>string</code>
    
                            </td>
                        </tr>
                </tbody>
            </table>
            <table class="table table-sm table-bordered">
                <tbody>
                    <tr>
                        <td class="col-md-4">
                            <b> goldImageUrl</b>
                        </td>
                    </tr>
                    <tr>
                        <td class="col-md-4">
                            <code>goldImageUrl:     <code>string</code>
    </bcode>
                        </td>
                    </tr>
                        <tr>
                            <td class="col-md-4">
                                <i>Type : </i>    <code>string</code>
    
                            </td>
                        </tr>
                </tbody>
            </table>
            <table class="table table-sm table-bordered">
                <tbody>
                    <tr>
                        <td class="col-md-4">
                            <b> resultText</b>
                        </td>
                    </tr>
                    <tr>
                        <td class="col-md-4">
                            <code>resultText:     <code></code>
    </bcode>
                        </td>
                    </tr>
                </tbody>
            </table>
            <table class="table table-sm table-bordered">
                <tbody>
                    <tr>
                        <td class="col-md-4">
                            <b> service</b>
                        </td>
                    </tr>
                    <tr>
                        <td class="col-md-4">
                            <code>service:     <code><a href="../injectables/FirebaseService.html" target="_self" >FirebaseService</a></code>
    </bcode>
                        </td>
                    </tr>
                        <tr>
                            <td class="col-md-4">
                                <i>Type : </i>    <code><a href="../injectables/FirebaseService.html" target="_self" >FirebaseService</a></code>
    
                            </td>
                        </tr>
                </tbody>
            </table>
            <table class="table table-sm table-bordered">
                <tbody>
                    <tr>
                        <td class="col-md-4">
                            <b> testImageUrl</b>
                        </td>
                    </tr>
                    <tr>
                        <td class="col-md-4">
                            <code>testImageUrl:     <code>string</code>
    </bcode>
                        </td>
                    </tr>
                        <tr>
                            <td class="col-md-4">
                                <i>Type : </i>    <code>string</code>
    
                            </td>
                        </tr>
                    <tr>
                        <td class="col-md-4">
                            <div class="io-description"><p>Test, diff and golden image urls </p>
    </div>
                        </td>
                    </tr>
                </tbody>
            </table>
            <table class="table table-sm table-bordered">
                <tbody>
                    <tr>
                        <td class="col-md-4">
                            <b> testName</b>
                        </td>
                    </tr>
                    <tr>
                        <td class="col-md-4">
                            <code>testName:     <code>string</code>
    </bcode>
                        </td>
                    </tr>
                        <tr>
                            <td class="col-md-4">
                                <i>Type : </i>    <code>string</code>
    
                            </td>
                        </tr>
                    <tr>
                        <td class="col-md-4">
                            <div class="io-description"><p>Test name, display on top of the result card </p>
    </div>
                        </td>
                    </tr>
                </tbody>
            </table>
    </section>
</div>
</body>
</html>