<html>
<head>
    <meta charset="utf-8">
    <meta http-equiv="x-ua-compatible" content="ie=edge">
    <title>Jigsaw documentation</title>
    <meta name="description" content="">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link rel="icon" type="image/x-icon" href="../images/favicon.ico">
    <link rel="stylesheet" href="../styles/style.css">
</head>
<body>
<div class="tab-pane fade active in" id="info"><p class="comment">
    <h3>File</h3>
</p>
<p class="comment">
    <code>src/jigsaw/component/table/table-renderer.ts</code>
</p>


    <p class="comment">
        <h3>Extends</h3>
    </p>
    <p class="comment">
            <code><a href="../classes/TableCellRenderer.html" target="_self" >TableCellRenderer</a></code>
    </p>

    <p class="comment">
        <h3>Implements</h3>
    </p>
    <p class="comment">
                <code><a href="https://angular.io/docs/ts/latest/api/core/index/OnInit-interface.html" target="_blank" >OnInit</a></code>
    </p>


<section>
    <h3>Metadata</h3>
    <table class="table table-sm table-hover">
        <tbody>















            <tr>
                <td class="col-md-3">template</td>
                <td class="col-md-9"><pre class="line-numbers"><code class="language-html">&lt;span&gt;{{number}}&lt;/span&gt;</code></pre></td>
            </tr>



        </tbody>
    </table>
</section>




    <section>
        
            <h3 id="methods">
                Methods
            </h3>
            <table class="table table-sm table-bordered">
                <tbody>
                    <tr>
                        <td class="col-md-4">
                            <b> ngOnInit</b>
                        </td>
                    </tr>
                    <tr>
                        <td class="col-md-4">
    <code>ngOnInit()</code>
                        </td>
                    </tr>
    
    
    
                    <tr>
                        <td class="col-md-4">
    
                                <div class="io-description">
                                    <b>Returns : </b>    <code>void</code>
    
                                </div>
                        </td>
                    </tr>
                </tbody>
            </table>
    </section>

    <section>
        
            <h3 id="inputs">
                Properties
            </h3>
            <table class="table table-sm table-bordered">
                <tbody>
                    <tr>
                        <td class="col-md-4">
                            <b> number</b>
                        </td>
                    </tr>
                    <tr>
                        <td class="col-md-4">
                            <code>number:     <code>number</code>
    </bcode>
                        </td>
                    </tr>
                        <tr>
                            <td class="col-md-4">
                                <i>Type : </i>    <code>number</code>
    
                            </td>
                        </tr>
                </tbody>
            </table>
    </section>
</div>
</body>
</html>